@{
    Layout = "~/Shared/_LayoutPage.cshtml";

}
@using WebMatrix.Data

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title></title>
    
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Amatic+SC">
    <style>
        /*css koden fungerade inte när jag skrev i den extärna css-filen så detta blev min lösning*/
        h1, h2, p, td, th {
            font-family: "Amatic SC", sans-serif;
        }
        h2 {
            font-weight: bold;
        }
        h1 {
            font-weight: bold;
            font-size: 3rem;
        }


    </style>
</head>
<bodys>
    <div>
        <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
            <div class="carousel-inner" role="listbox">
                <div class="carousel-item active">
                    <img class="d-block w-100" src="~/bilder/menybild.jpg" data-src="holder.js/900x400?theme=social" alt="900x400" data-holder-rendered="true" style="width: 900px; height: 400px;">
                </div>
                <div class="carousel-item">
                    <img class="d-block w-100" src="~/bilder/menybild2.jpg" data-src="holder.js/900x400?theme=industrial" alt="900x400" data-holder-rendered="true" style="width: 900px; height: 400px;">
                </div>
            </div>
            <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="sr-only">Previous</span>
            </a>
            <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="sr-only">Next</span>
            </a>
        </div>
    </div>
    <div id="menydeskrivning">
        <h1>PIZZA</h1>
        <p>I alla pizzor ingår tomat och ost. Pizzasallad ingår. Barnpizza avdrag 10:- glutenfri pizza + 20:-</p>
        <br />
        <h2>FÖR FAMILJEPIZZOR</h2>
        <p>För alla familjepizzor ingår 2 liter valfri dricka</p>
        <br />
    </div>
    <div>
        @{
            var db = Database.Open("pizzadatabasanslutning");
            var queryString = "select * from pizzor ORDER BY Price DESC";
            var result = db.Query(queryString);           
        }

        <table id="Pizza" class="table table-light table-striped">
            <thead class="thead-dark">
                <tr>
                    <th id="tablenumber" scope="col">#</th>
                    <th scope="col">Pizzor</th>
                    <th scope="col">Pris</th>
                </tr>
            </thead>
            <tbody>
                @{
                    int counter = 1;
                    foreach (var pizzor in result)
                    {
                            var db2 = Database.Open("pizzadatabasanslutning");
                            var queryString2 = "select ingredienser.name from pizzor join pizzaingredienser on pizzor.id=pizzaingredienser.pizzaid join ingredienser on pizzaingredienser.ingrediensid=ingredienser.id where pizzor.Name = '" + pizzor.name + "' order by pizzor.name, ingredienser.name";
                            var result2 = db.Query(queryString2);

                            <tr>
                                <th scope="row" id="tablenumber">@counter</th>
                                <td>
                                    @pizzor.Name

                                    @foreach (var PizzaIngredienser in result2)
                                    {
                                        <p id="Pizzaname"> @PizzaIngredienser.name </p>
                                    }
                                </td>

                                <td>@pizzor.Price kr</td>
                            </tr>
                            counter = counter + 1;                        
                    }
                }
            </tbody>
        </table>
    </div>
    <div>
        <div class="card-deck">
            <div class="card" style="border: none;">
                <div class="card-body" id="menydeskrivning">
                    <h1 class="card-title">KEBAB</h1>
                    <table class="table table-light table-striped">
                        <tr>
                            <td>
                                Kebabtallrik: 95kr
                            </td>
                        </tr>
                        <tr>
                            <td>
                                Kebabrulle: 95kr
                            </td>
                        </tr>
                        <tr>
                            <td>
                                Kebab med bröd: 85kr
                            </td>
                        </tr>
                        </table>
                </div>
            </div>
            <div class="card" style="border: none;">
                <div class="card-body" id="menydeskrivning">
                    <h1 class="card-title">FALAFEL</h1>
                    <table class="table table-light table-striped">
                        <tr>
                            <td>
                                Falafeltallrik: 95kr
                            </td>
                        </tr>
                        <tr>
                            <td>
                                Falafelrulle: 95kr
                            </td>
                        </tr>
                        <tr>
                            <td>
                                Falafel med bröd: 85kr
                            </td>
                        </tr>
                    </table>
                </div>
            </div>
            <div class="card" style="border: none;">
                <div class="card-body" id="menydeskrivning">
                    <h1 class="card-title">KYCKLING</h1>
                    <table class="table table-light table-striped">
                        <tr>
                            <td>
                                Kyklingtallrik: 95kr
                            </td>
                        </tr>
                        <tr>
                            <td>
                                Kebabrulle: 95kr
                            </td>
                        </tr>
                        <tr>
                            <td>
                                Kykling med bröd: 85kr
                            </td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>
    </div>   
    <br>
</bodys>
</html>