<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link href="~/css/pizzeriahemsida.css" rel="stylesheet" />
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Amatic+SC">

    <link rel="preconnect" href="https://fonts.gstatic.com">    
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
    
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <title>Pizza4You</title>
    <style>
    </style>
</head>
<body>
    <div id="navbar">
        <ul class="nav justify-content-center">
            <li>
                <img id="logga"src="~/bilder/pizza4you.png" />
            </li>
            <li class="nav-item">
                <a class="nav-link active" href="~/html/startsida.cshtml">Hem</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="~/html/menysida.cshtml">Meny</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="~/html/beställasida.cshtml">Beställ</a>
            </li>
        </ul>
    </div>

    <div>
        @RenderBody()
    </div>

    <footer class="bg-dark text-center text-white">

        <section >
            <div id="footer" class="row">
                <div class="col-lg-6 col-md-6 mb-4 mb-md-0">
                    <h2>ÖPPETIDER - PIZZA 4 YOU </h2>

                    <ul class="list-unstyled mb-0">
                        <li>
                            <p>Måndag - Fredag 11:00-21:00</p>
                        </li>
                        <li>
                            <p>Lördag - Söndag 12:00-21:00</p>
                        </li>
                    </ul>
                </div>

                <div class="col-lg-6 col-md-6 mb-4 mb-md-0">
                    <h2>KONTAKT</h2>

                    <ul class="list-unstyled mb-0">
                        <li>
                            <p>036 - 14 24 34</p>
                        </li>
                        <li>
                            <p>pizza4you@hotmail.com</p>
                        </li>
                        <li>
                            <p>Hakarpsvägen 67</p>
                        </li>
                    </ul>
                </div>
            </div>
        </section>        
    </footer>
</body>
</html>